code:not(.sourceCode) {
    background-color: #f7f7f7 !important; 
    padding: 20px; !important;
}

a {
  color: #7d12ba;
  text-decoration: underline dotted;
  
}


summary {
    background-color: black;
    display: inline-block;
    padding: 1px 6px;
    color: #edfff3!important;
    border-radius: 2px;
    font-size: 10px;
    font-family: Courier;
    cursor: pointer;  
    letter-spacing: 2px;
    
}

details[open] summary {
    color: #0bf456 !important;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.5);
    
}

summary:hover {
    color: #0bf456 !important; 
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.5);
}

.remove-top-margin {
  margin-top: 10px;
}

.table-small {
  font-size: 10px;
}


.flexbox-grid {
  display: inline-grid !important;
  grid-template-columns: repeat(2, 1fr) !important; /* Two columns */
  gap: 10px !important; /* Space between images */
}

.flexbox-grid img {
  width: 50% !important;
  max-width: 100% !important; /* Ensures each image takes up its cell fully */
  border: 1px solid black;
}

.flexbox-votes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.flexbox-votes p {
  margin: 0;
}
